In [2]:
print("Hello World!")

Hello World!

In [1]:
# concatenation 
print("Hello "+ "world")
print"Hello", "world", "hi", "hello"

Hello world
Hello world hi hello

In [2]:
#Assigning values to variables 

integer_var = 10
double_var = 12.54
string_var = "Hello World!"
bool_var1 = True
bool_var2 = False

# print variables
print integer_var, 'Hello'
print double_var
print string_var
print string_var + "Hi"
print string_var , "Hi"
print bool_var1
print bool_var2

10 Hello
12.54
Hello World!
Hello World!Hi
Hello World! Hi
True
False

In [3]:
# multiple assignments

# int var_1 = 10
# double var_2 = 2.3
# String var-3 = "Java"

var_1, var_2, var_3 = 1, 2.83, "Python"
print var_1, var_2, var_3

1 2.83 Python

In [6]:
# Python Strings

str1 = 'Hello World!'

print str1          # Prints complete string
print str1[0]       # Prints first character of the string
print str1[2:6]     # Prints characters starting from 3rd to 5th
print str1[2:]      # Prints string starting from 3rd character
print str1[:2]      # Prints string starting from the begenning till the 3rd character
print str1 * 3     # Prints string two times
print str1 + "TEST" # Prints concatenated string

Hello World!
H
llo
llo World!
He
Hello World!Hello World!Hello World!
Hello World!TEST

In [8]:
# Python Lists
# All the items belonging to a list can be of different data type.

mylist = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']

print mylist          # Prints complete list
print mylist[0]       # Prints first element of the list
print mylist[1:3]     # Prints elements starting from 2nd till 4th 
print mylist[2:]      # Prints elements starting from 3rd element
print tinylist * 2  # Prints list two times
print mylist + tinylist # Prints concatenated lists

# adding more items to the list
mylist.append("extra item")
print mylist

# changing an item
mylist[2] = 67 * 2
mylist[0] = 'ABC'
print mylist

['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 'extra item']
['ABC', 786, 134, 'john', 70.2, 'extra item']

In [23]:
# Python Tuples
# Tuples are enclosed in parantheses
# Lists are mutable but tuples are not.

mytuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
tinytuple = (123, 'john')

print mytuple           # Prints complete list
print mytuple[0]        # Prints first element of the list
print mytuple[1:3]      # Prints elements starting from 2nd till 3rd 
print mytuple[2:]       # Prints elements starting from 3rd element
print tinytuple * 2   # Prints list two times
print mytuple + tinytuple # Prints concatenated lists

('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.2, 123, 'john')

In [9]:
# Python Dictionaries
# Dictionaries are enclosed by curly braces{ } and values can be assigned and accessed using square braces[]
mydict = {}
mydict['one'] = "This is one"
mydict[2]     = "This is two"

tinydict = {'name': 'john','code':6734, 'dept': 'sales'}


print mydict['one']       # Prints value for 'one' key
print mydict[2]           # Prints value for 2 key
print mydict
print tinydict          # Prints complete dictionary
print tinydict.keys()   # Prints all the keys
print tinydict.values() # Prints all the values

This is one
This is two
{2: 'This is two', 'three': 3, 'one': 'This is one'}
{'dept': 'sales', 'code': 6734, 'name': 'john'}
['dept', 'code', 'name']
['sales', 6734, 'john']